 
/* start css.sty */
.lasx-2074{font-size:200%;}
.latt-1000{font-family: monospace;}
.latt-1000{font-family: monospace;}
.labx-1000{font-weight: bold;}
.lati-1000{font-style: italic;}
.larm-0800{font-size:80%;}
.latt-0800{font-size:80%;font-family: monospace;}
.latt-0800{font-family: monospace;}
/* end css.sty */

